<template>
  <div class="auth-wrapper auth-v2">
    <div class="auth-inner">
      <!-- brand logo -->
      <router-link to="/" class="brand-logo d-flex align-center">
        <v-img :src="appLogo" max-height="30px" max-width="30px" alt="logo" contain class="me-3"></v-img>

        <h2 class="text--primary">
          {{ appName }}
        </h2>
      </router-link>
      <!--/ brand logo -->

      <v-row class="auth-row ma-0">
        <v-col lg="8" class="d-none d-lg-block position-relative overflow-hidden pa-0">
          <div class="auth-illustrator-wrapper">
            <!-- triangle bg -->
            <img
              height="362"
              class="auth-mask-bg"
              :src="require(`@/assets/images/misc/mask-v2-${$vuetify.theme.dark ? 'dark' : 'light'}.png`).default"
            />

            <!-- tree -->
            <v-img
              height="226"
              width="300"
              class="auth-tree"
              :src="require('@/assets/images/misc/tree-2.png').default"
            ></v-img>

            <!-- 3d character -->
            <div class="d-flex align-center h-full pa-16 pe-0">
              <v-img
                contain
                max-width="100%"
                height="710"
                class="auth-3d-group"
                :src="
                  require(`@/assets/images/3d-characters/illustration-register-v2-${
                    $vuetify.theme.dark ? 'dark' : 'light'
                  }.png`).default
                "
              ></v-img>
            </div>
          </div>
        </v-col>

        <v-col lg="4" class="d-flex align-center auth-bg pa-10 pb-0">
          <v-row>
            <v-col cols="12" sm="8" md="6" lg="12" class="mx-auto">
              <v-card flat>
                <v-card-text>
                  <p class="text-2xl font-weight-semibold text--primary my-2">Adventure starts here 🚀</p>
                  <p class="mb-2">Make your app management easy and fun!</p>
                </v-card-text>

                <!-- login form -->
                <v-card-text>
                  <v-form ref="registerForm" @submit.prevent="handleFormSubmit">
                    <v-text-field
                      v-model="username"
                      outlined
                      label="Username"
                      :error-messages="errorMessages.name"
                      :rules="[validators.required, validators.alphaValidator]"
                      placeholder="Username"
                      hide-details="auto"
                      class="mb-6"
                    ></v-text-field>

                    <v-text-field
                      v-model="email"
                      outlined
                      :error-messages="errorMessages.email"
                      :rules="[validators.required, validators.emailValidator]"
                      label="Email"
                      placeholder="Email"
                      hide-details="auto"
                      class="mb-6"
                    ></v-text-field>

                    <v-text-field
                      v-model="password"
                      outlined
                      :type="isPasswordVisible ? 'text' : 'password'"
                      label="Password"
                      :error-messages="errorMessages.password"
                      placeholder="Password"
                      :rules="[validators.required, validators.passwordValidator]"
                      :append-icon="isPasswordVisible ? icons.mdiEyeOffOutline : icons.mdiEyeOutline"
                      hide-details="auto"
                      class="mb-2"
                      @click:append="isPasswordVisible = !isPasswordVisible"
                    ></v-text-field>
                    <v-btn block color="primary" type="submit" class="mt-6"> Sign Up </v-btn>
                  </v-form>
                </v-card-text>

                <!-- create new account  -->
                <v-card-text class="d-flex align-center justify-center flex-wrap mt-2">
                  <p class="mb-0 me-2">Already have an account?</p>
                  <router-link :to="{ name: 'auth-login' }"> Sign in instead </router-link>
                </v-card-text>

                <!-- divider -->
                <v-card-text class="d-flex align-center mt-2">
                  <v-divider></v-divider>
                  <span class="mx-5">or</span>
                  <v-divider></v-divider>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script>
// eslint-disable-next-line object-curly-newline
import { mdiFacebook, mdiTwitter, mdiGithub, mdiGoogle, mdiEyeOutline, mdiEyeOffOutline } from '@mdi/js'
// eslint-disable-next-line object-curly-newline
import { required, emailValidator, passwordValidator, alphaValidator } from '@core/utils/validation'
import { ref, getCurrentInstance } from '@vue/composition-api'
import axios from '@axios'
import { useRouter } from '@core/utils'
import themeConfig from '@themeConfig'

export default {
    data () {
        return {
            password: null,
            username: null,
            email: null,
            appName: themeConfig.app.name,
            appLogo: themeConfig.app.logo,
            icons: {
                mdiEyeOutline,
                mdiEyeOffOutline,
            },
            errorMessages: {
                email: [],
                password: [],
                name: []
            }
        }
    },
  computed: {
      registerForm () {
          return ref(null)
      },

      vm () {
          return getCurrentInstance().proxy;
      },

      router () {
        return useRouter()
      },
      isPasswordVisible () {
          return ref(false)
      },
      validators () {
          return {
            required,
            emailValidator,
              passwordValidator
          }
      },
  },

    methods: {
        handleFormSubmit () {
            const isFormValid = this.$refs['registerForm'].validate()

            if (!isFormValid) return

            /*
              1. Make HTTP request to get accessToken (Register the user & login) (User will be added to the database and new generated access token will be sent for loggin in)
              2. Store received token in localStorage for future use
              3. Make another HTTP request for getting user information
              4. On successful response of user information redirect to home page

              ? We have use promise chaining to get user data from access token
              ? Promise Chaining: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Using_promises#chaining
            */

            axios
                .post('/api/auth/register', { name: this.username, email: this.email, password: this.password })
                .then(response => {
                    const { accessToken } = response.data.token;
                    localStorage.setItem('accessToken', accessToken);

                    router.push('/')

                })
                .catch(error => {
                    // TODO: Next Update - Show notification
                    console.error('Oops, Unable to Register!')
                    console.log('error :>> ', error.response)
                    this.errorMessages.email = error.response.data.errors.email !== undefined ? error.response.data.errors.email[0] : ''
                    this.errorMessages.name = error.response.data.errors.name !== undefined ? error.response.data.errors.name[0] : ''
                    this.errorMessages.password = error.response.data.errors.password !== undefined ? error.response.data.errors.password[0] : ''
                })
        }
    }
}
</script>

<style lang="scss" scoped>
@import '@resources/sass/preset/pages/auth.scss';
</style>
