<template>
    <div>
        <v-row>
            <v-col
                cols="12"
                md="3"
            >
                <app-card-actions action-collapse>
                    <template slot="title">
                        Базовые елементы
                    </template>
                    <v-card-text>
                        <v-item>
                            <p @click="addRect()">rect</p>
                        </v-item>
                        <v-item>
                            <p @click="addRectRadius()">rectRadius</p>
                        </v-item>
                        <v-item>
                            <p @click="addParalelogram()">paralelogram</p>
                        </v-item>
                        <v-item>
                            <p @click="addCircle()">circle</p>
                        </v-item>
                        <v-item>
                            <p @click="addRhombus()">rhombus</p>
                        </v-item>
                    </v-card-text>
                </app-card-actions>
                <app-card-actions action-collapse>
                    <template slot="title">
                        Стелки
                    </template>
                    <v-card-text>
                        <v-item>
                            <p @click="addArrow()">one arrow</p>
                        </v-item>
                    </v-card-text>
                </app-card-actions>
            </v-col>
            <v-col
                cols="12"
                md="9"
            >
                <v-card style="position: relative">
                    <div id="box"></div>
                    <div id="edit">
                        <v-btn
                            icon
                            color="pink"
                        >
                            <v-icon>{{ mdiTrashCanOutline }}</v-icon>
                        </v-btn>
                    </div>
                </v-card>
            </v-col>
        </v-row>
        <element-customize v-if="current" />
    </div>
</template>
<script>
import {mdiChevronUp, mdiPencilOutline , mdiTrashCanOutline} from '@mdi/js'
import AppCardActions from '@core/components/app-card-actions/AppCardActions.vue'
import ElementCustomize from "../../components/ElementCustomize";
import {mapState} from "vuex";
import { mapFields } from 'vuex-map-fields';
import {find, findIndex} from "lodash";

export default {
    components: {
        AppCardActions,
        ElementCustomize
    },

    data() {
        return {
            icons: {
                mdiChevronUp
            },
        }
    },

    watch: {
        isCustomizerOpen (val) {
            if (!val) {
                document.getElementById('edit').innerHTML = '';
            }
        },

        'current.params.size.w': {
            handler (value) {
                this.setSize();
            },
            deep: true
        },
        'current.params.size.h': {
            handler (value) {
                this.setSize();
            },
            deep: true
        },
        'current.params.position.rotate': {
            handler (value) {
                this.setSize();
            },
            deep: true
        }
    },

    computed: {
      ...mapState('elements', ['elements']),
      ...mapFields('elements', ['current', 'isCustomizerOpen', 'graph', 'paper']),
        mdiTrashCanOutline () {
          return mdiTrashCanOutline;
        }
    },

    mounted() {
        this.graph = new joint.dia.Graph();

        this.paper = new joint.dia.Paper({
            el: document.getElementById('box'),
            model: this.graph,
            width: 800,
            height: 600,
            gridSize: 10,
            // drawGrid: {
            //     name: 'doubleMesh',
            //     args: [{
            //         color: 'black',
            //         thickness: 1
            //     }, // settings for the primary mesh
            //         {
            //             color: 'black',
            //             scaleFactor: 5,
            //             thickness: 5
            //         } //settings for the secondary mesh
            //     ]
            // }
        });

        var uml = joint.shapes.uml;
        console.log(uml)

        this.paper.on("blank:mousewheel", (evt, x, y, delta) => {
            this.current = null;
            this.isCustomizerOpen = false;
            document.getElementById('edit').innerHTML = '';

            evt.preventDefault();
            const oldscale = this.paper.scale().sx;
            const newscale = oldscale + 0.2 * delta * oldscale

            if (newscale>0.2 && newscale<5) {
                this.paper.scale(newscale, newscale, 0, 0);
                this.paper.translate(-x*newscale+evt.offsetX,-y*newscale+evt.offsetY);
            }
        });

        // this.graph.on('change', (element, position) => {
        //     document.getElementById('edit').innerHTML = '';
        //     console.log(element);
        //
        //     this.current = null;
        //     this.isCustomizerOpen = false;
        //     document.getElementById('edit').innerHTML = '';
        //

        // });

        this.paper.on('cell:pointerclick', (cellView, node, options) => {
            this.current = null;
            this.isCustomizerOpen = false;
            document.getElementById('edit').innerHTML = '';

            console.log(this.elements)
            console.log(cellView)
            const element = find(this.elements, (item) => {
                return item.id === cellView.model.id
            })

            this.addEditBlock(element, cellView);
        })

        this.paper.on('blank:pointerclick', (cellView, node, options) => {
            this.current = null;
            this.isCustomizerOpen = false;
            document.getElementById('edit').innerHTML = '';
        })

        this.paper.on('element:pointermove', (cellView, node, options) => {
            document.getElementById('edit').innerHTML = '';
            this.current = null;
            this.isCustomizerOpen = false;

            const index = findIndex(this.elements, (item) => {
                return item.id === cellView.model.id
            });

            this.elements[index].params.position.y = cellView.options.model.attributes.position.y;
            this.elements[index].params.position.x = cellView.options.model.attributes.position.x;

        })
    },

    methods: {
        addArrow () {
            var linkAttrs =  {
                'fill': 'none',
                'stroke-linejoin': 'round',
                'stroke-width': '2',
                'stroke': '#4b4a67'
            };


            // var link = new joint.shapes.standard.Link();
            // link.prop('source', { x: 450, y: 600 });
            // link.prop('target', { x: 400, y: 750 });
            // link.prop('vertices', [{ x: 450, y: 700 }]);
            // link.attr('root/title', 'joint.shapes.standard.Link');
            // link.attr('line/stroke', '#fe854f');
            // link.addTo(this.graph);

            var sourceId = this.elements[0].id;
            var targetId = this.elements[1].id;

            this.graph.addCells([
                new joint.dia.Link({
                    source: { id: sourceId },
                    target: { id: targetId },
                    attrs: { '.connection': linkAttrs }
                })
            ]);
        },

        addRect () {
            const params = {
                size: {
                    w: 100,
                    h: 100
                },
                position: {
                    x: 50,
                    y: 10,
                    rotate: 0
                },
                fill: '#30d0c6',
                label: {
                    title: 'Rectangle',
                    size: 12,
                    type: 'Arial',
                    color: '#000000'
                },
                border: {
                    color: '#000000',
                    type: 'solid'
                }

            }

            const rectangle = new joint.shapes.standard.Rectangle();
            rectangle.resize(params.size.w, params.size.h);
            rectangle.position(params.position.x, params.position.y);
            rectangle.attr('root/tabindex', 1);
            rectangle.attr('root/title', 'joint.shapes.standard.Rectangle');
            rectangle.attr('body/fill', params.fill);
            rectangle.attr('label/text', params.label.title);
            rectangle.attr('label/font-size', params.label.size)
            rectangle.attr('label/font-family', params.label.type)
            rectangle.attr('label/fill', params.label.color)
            rectangle.attr('rect/rx', 0)

            const graphData = rectangle.addTo(this.graph);
            console.log('graphData', graphData)
            console.log('paper', this.paper)

            this.elements.push({
                id: graphData.id,
                _listenId: graphData._listenId,
                element: rectangle,
                params: params,
                attr: {
                    fill: 'body/fill',
                    text: {
                        text: 'label/text',
                        fill: 'label/fill',
                        'font-size': 'label/font-size',
                        'font-family': 'label/font-family'
                    }
                }
            })
        },

        addParalelogram () {
            const params = {
                size: {
                    w: 100,
                    h: 100
                },
                position: {
                    x: 50,
                    y: 10,
                    rotate: 0
                },
                fill: '#30d0c6',
                label: {
                    title: 'Rectangle',
                    size: 12,
                    type: 'Arial',
                    color: '#000000'
                }

            }

            const rectangle = new joint.shapes.standard.Rectangle();
            rectangle.resize(params.size.w, params.size.h);
            rectangle.position(params.position.x, params.position.y);
            rectangle.attr('root/tabindex', 1);
            rectangle.attr('root/title', 'joint.shapes.standard.Rectangle');
            rectangle.attr('body/fill', params.fill);
            rectangle.attr('label/text', params.label.title);
            rectangle.attr('label/font-size', params.label.size)
            rectangle.attr('label/font-family', params.label.type)
            rectangle.attr('label/fill', params.label.color)
            rectangle.attr('rect/rx', 0)
            rectangle.attr('rect/transform', 'skewX(-20)')
            rectangle.attr('label/ref-x', '-20')

            const graphData = rectangle.addTo(this.graph);

            this.elements.push({
                id: graphData.id,
                _listenId: graphData._listenId,
                element: rectangle,
                params: params,
                attr: {
                    fill: 'body/fill',
                    text: {
                        text: 'label/text',
                        fill: 'label/fill',
                        'font-size': 'label/font-size',
                        'font-family': 'label/font-family'
                    }
                }
            })
        },

        addRectRadius () {
            const params = {
                size: {
                    w: 100,
                    h: 100
                },
                position: {
                    x: 50,
                    y: 10,
                    rotate: 0
                },
                fill: '#30d0c6',
                label: {
                    title: 'Rectangle',
                    size: 12,
                    type: 'Arial',
                    color: '#000000'
                }

            }

            const rectangle = new joint.shapes.standard.Rectangle();
            rectangle.resize(params.size.w, params.size.h);
            rectangle.position(params.position.x, params.position.y);
            rectangle.attr('root/tabindex', 1);
            rectangle.attr('root/title', 'joint.shapes.standard.Rectangle');
            rectangle.attr('body/fill', params.fill);
            rectangle.attr('label/text', params.label.title);
            rectangle.attr('label/font-size', params.label.size)
            rectangle.attr('label/font-family', params.label.type)
            rectangle.attr('label/fill', params.label.color)
            rectangle.attr('rect/rx', 15)
            rectangle.attr('rect/ry', 15)

            const graphData = rectangle.addTo(this.graph);

            this.elements.push({
                id: graphData.id,
                _listenId: graphData._listenId,
                element: rectangle,
                params: params,
                attr: {
                    fill: 'body/fill',
                    text: {
                        text: 'label/text',
                        fill: 'label/fill',
                        'font-size': 'label/font-size',
                        'font-family': 'label/font-family'
                    }
                }
            })
        },

        addCircle () {
            const params = {
                size: {
                    w: 100,
                    h: 100
                },
                position: {
                    x: 50,
                    y: 10,
                    rotate: 0
                },
                fill: '#30d0c6',
                label: {
                    title: 'Circle',
                    size: 12,
                    type: 'Arial',
                    color: '#000000'
                }

            }

            const rectangle = new joint.shapes.standard.Ellipse();
            rectangle.resize(params.size.w, params.size.h);
            rectangle.position(params.position.x, params.position.y);
            rectangle.attr('root/title', 'joint.shapes.standard.Ellipse');
            rectangle.attr('root/tabindex', 1);
            rectangle.attr('body/fill', params.fill);
            rectangle.attr('label/text', params.label.title);
            rectangle.attr('label/font-size', params.label.size)
            rectangle.attr('label/font-family', params.label.type)
            rectangle.attr('label/fill', params.label.color)

            const graphData = rectangle.addTo(this.graph);

            this.elements.push({
                id: graphData.id,
                _listenId: graphData._listenId,
                element: rectangle,
                params: params,
                attr: {
                    fill: 'body/fill',
                    text: {
                        text: 'label/text',
                        fill: 'label/fill',
                        'font-size': 'label/font-size',
                        'font-family': 'label/font-family'
                    }
                }
            })
        },

        addRhombus () {
            const params = {
                size: {
                    w: 100,
                    h: 100
                },
                position: {
                    x: 50,
                    y: 10,
                    rotate: 0
                },
                fill: '#30d0c6',
                label: {
                    title: 'Rhombus',
                    size: 12,
                    type: 'Arial',
                    color: '#000000'
                }

            }

            const rectangle = new joint.shapes.basic.Path(
                //     {
                //     size: { width: params.size.w, height: params.size.h },
                //     // markup: '<g class="rotatable"><path/><text/></g>',
                //     attrs: {
                //         path: {
                //             d: 'M 50 0 L 100 50 50 100 0 50 z'
                //         },
                //         text: {
                //             text: params.label.title,
                //             'ref-x': '50%',
                //             'ref-y': '-65%',
                //             // transform: 'matrix(1,0,0,1,0,-65)',
                //         }
                //     }
                // }
            );
            // rectangle.resize(params.size.w, params.size.h);
            // rectangle.position(params.position.x, params.position.y);
            // rectangle.attr('root/title', 'joint.shapes.standard.Path');
            // rectangle.attr('label/text', params.label.title);
            // rectangle.attr('body/refD', 'M 50 0 L 100 50 50 100 0 50 ');
            // // rectangle.attr('path/fill', params.fill);
            // rectangle.attr('text/text', params.label.title);
            // rectangle.attr('text/font-size', params.label.size)
            // rectangle.attr('text/font-family', params.label.type)
            // rectangle.attr('text/fill', params.label.color)

            var path = new joint.shapes.standard.Path();
            path.resize(params.size.w, params.size.h);
            path.position(params.position.x, params.position.y);
            path.attr('root/title', 'joint.shapes.standard.Path');
            path.attr('root/tabindex', 1);
            path.attr('body/fill', params.fill);
            path.attr('label/text', params.label.title);
            path.attr('label/font-size', params.label.size)
            path.attr('label/font-family', params.label.type)
            path.attr('label/fill', params.label.color)
            path.attr('body/refD', 'M 50 0 L 100 50 50 100 0 50 Z');

            const graphData = path.addTo(this.graph);

            this.elements.push({
                id: graphData.id,
                _listenId: graphData._listenId,
                element: path,
                params: params,
                attr: {
                    fill: 'body/fill',
                    text: {
                        text: 'label/text',
                        fill: 'label/fill',
                        'font-size': 'label/font-size',
                        'font-family': 'label/font-family'
                    }
                }
            })
        },

        setSize () {
            if (!this.current) {
                return;
            }
            const svgElement = document.querySelector(`#${this.current.selected}`);
            const params = svgElement.getBoundingClientRect();
            const block = document.querySelector(`#box`).getBoundingClientRect();
            const parent = document.querySelector('.parent');
            parent.style.top = `${params.top - block.top - 2}px`;
            parent.style.left = `${params.left - block.left - 2}px`;
            parent.style.height = `${params.height + 4}px`;
            parent.style.width = `${params.width + 4}px`;
        },

        addEditBlock (element, selected) {
            if (!element) {
                return;
            }
            console.log(selected)
            console.log(element)
            document.getElementById('edit').innerHTML = '';

            console.log(element.element)
            let params = null;
            if (!selected.selectors.body) {
                const svgElement = document.querySelector(`#${selected.rotatableNode.node.id}`);
                params = svgElement.getBoundingClientRect();
            } else {
                const svgElement = document.querySelector(`#${selected.selectors.body.id}`);
                    params = svgElement.getBoundingClientRect();
            }

            const block = document.querySelector(`#box`).getBoundingClientRect();
            // console.log('params', params)
            //
            // console.log('top', svgElement.top,  block.top)
            // console.log('top', svgElement.top - block.top - 2)

            const newDiv = document.createElement("div");
            newDiv.classList.add('parent');
            newDiv.setAttribute('data-id', element.id);
            newDiv.innerHTML = "<div class='d-flex' style='position: absolute; bottom: -41px'><div>" +
                "<button type=\"button\" class=\"js_edit_block v-btn v-btn--icon v-btn--round theme--light v-size--default pink--text\">" +
                "<span class=\"v-btn__content\"><span aria-hidden=\"true\" class=\"v-icon notranslate theme--light\"><svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" role=\"img\" aria-hidden=\"true\" class=\"v-icon__svg\"><path d=\"M14.06,9L15,9.94L5.92,19H5V18.08L14.06,9M17.66,3C17.41,3 17.15,3.1 16.96,3.29L15.13,5.12L18.88,8.87L20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18.17,3.09 17.92,3 17.66,3M14.06,6.19L3,17.25V21H6.75L17.81,9.94L14.06,6.19Z\"></path></svg></span></span></button>" +
                "</div>" +
                "<div>" +
                "<button type=\"button\" class=\"js_delete_block v-btn v-btn--icon v-btn--round theme--light v-size--default pink--text\"><span class=\"v-btn__content\"><span aria-hidden=\"true\" class=\"v-icon notranslate theme--light\"><svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" role=\"img\" aria-hidden=\"true\" class=\"v-icon__svg\"><path d=\"M9,3V4H4V6H5V19A2,2 0 0,0 7,21H17A2,2 0 0,0 19,19V6H20V4H15V3H9M7,6H17V19H7V6M9,8V17H11V8H9M13,8V17H15V8H13Z\"></path></svg></span></span></button>" +
                "</div></div>";
            newDiv.style.position = 'absolute';
            newDiv.style.display = 'flex';
            newDiv.style.top = `${params.top - block.top - 2}px`;
            newDiv.style.left = `${params.left - block.left - 2}px`;
            newDiv.style.height = `${params.height + 4}px`;
            newDiv.style.width = `${params.width + 4}px`;
            // newDiv.style.transform = `rotate(${+element.params.position.rotate}deg)`;

            document.getElementById('edit').append(newDiv);

            document.querySelector('body .js_edit_block').addEventListener("click", (event) => {
                const id = event.target.closest('.parent').getAttribute('data-id');
this.current = null;
            this.isCustomizerOpen = false;
                this.current = find(this.elements, (item) => {
                    return item.id === id
                });

                if (!selected.selectors.body) {
                    this.current.selected = selected.rotatableNode.node.id;
                } else {
                    this.current.selected = selected.selectors.body.id;
                }

                this.isCustomizerOpen = true;
            }, false);

            document.querySelector('body .js_delete_block').addEventListener("click", (event) => {
                const id = event.target.closest('.parent').getAttribute('data-id');

                const index = findIndex(this.elements, (item) => {
                    return item.id === id
                })

                this.current = null;
                this.isCustomizerOpen = false;

                this.elements[index].element.remove();
                this.elements.splice(index, 1);
                document.getElementById('edit').innerHTML = '';
            }, false);
        }
    }
}
</script>
<style>
.parent {
    display: block;
    border: dashed;
}
</style>
