<template>
    <div class="app-customizer">
        <v-navigation-drawer
            v-model="isCustomizerOpen"
            :right="!$vuetify.rtl"
            :temporary="false"
            fixed
            hide-overlay
            width="400"
            class="app-customizer-drawer"
        >
            <!-- Heading -->
            <div class="app-customizer-header customizer-section py-3">
                <span class="text--secondary">Настройка елемента</span>
                <v-btn icon class="icon-customizer-close" @click="isCustomizerOpen = false">
                    <v-icon>
                        {{ mdiClose }}
                    </v-icon>
                </v-btn>
            </div>

            <v-divider></v-divider>

            <perfect-scrollbar :options="perfectScrollbarOptions" class="ps-customizer">
                <!-- Section: Size -->
                <app-card-actions action-collapse>
                    <template slot="title">
                        Размеры
                    </template>
                    <v-card-text>
                        <v-row>
                            <v-col
                                cols="12"
                                md="6"
                            >
                                <v-text-field
                                    id="width"
                                    type="number"
                                    v-model="current.params.size.w"
                                    outlined
                                    dense
                                    placeholder="Ширина"
                                    label="Ширина"
                                    hide-details
                                ></v-text-field>
                            </v-col>
                            <v-col
                                cols="12"
                                md="6"
                            >
                                <v-text-field
                                    id="width"
                                    type="number"
                                    v-model="current.params.size.h"
                                    outlined
                                    dense
                                    placeholder="Высота"
                                    label="Высота"
                                    hide-details
                                ></v-text-field>
                            </v-col>
                        </v-row>
                    </v-card-text>
                </app-card-actions>

                <app-card-actions action-collapse>
                    <template slot="title">
                        Характеристики
                    </template>
                    <v-card-text>
                        <v-row>
                            <v-col
                                cols="12"
                                md="6"
                            >
                                <v-text-field
                                    id="width"
                                    type="number"
                                    v-model="current.params.position.rotate"
                                    outlined
                                    dense
                                    :min="0"
                                    placeholder="Поворот"
                                    label="Поворот"
                                    hide-details
                                />
                            </v-col>
                            <v-col
                                cols="12"
                                md="6"
                            >
                                <v-text-field
                                    v-model="current.params.fill"
                                    label="Заливка"
                                    outlined
                                    dense
                                    hide-details
                                    readonly
                                >
                                    <template v-slot:append>
                                        <v-menu v-model="menuFill" top nudge-bottom="105" nudge-left="16" :close-on-content-click="false">
                                            <template v-slot:activator="{ on }">
                                                <div :style="swatchStyleFill" v-on="on" />
                                            </template>
                                            <v-card>
                                                <v-card-text class="pa-0">
                                                    <v-color-picker v-model="current.params.fill" flat />
                                                </v-card-text>
                                            </v-card>
                                        </v-menu>
                                    </template>
                                </v-text-field>
                            </v-col>
                        </v-row>
                    </v-card-text>
                </app-card-actions>

                <app-card-actions action-collapse>
                    <template slot="title">
                        Текст
                    </template>
                    <v-card-text>
                        <v-row>
                            <v-col
                                cols="12"
                                md="12"
                            >
                                <v-textarea
                                    id="width"
                                    v-model="current.params.label.title"
                                    outlined
                                    dense
                                    placeholder="Лейбл"
                                    label="Лейбл"
                                    hide-details
                                />
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col
                                cols="12"
                                md="4"
                            >
                                <v-text-field
                                    id="width"
                                    type="number"
                                    v-model="current.params.label.size"
                                    outlined
                                    dense
                                    placeholder="Размер"
                                    label="Размер"
                                    hide-details
                                ></v-text-field>
                            </v-col>
                            <v-col
                                cols="12"
                                md="4"
                            >
                                <v-select
                                    v-model="current.params.label.type"
                                    :items="fonts"
                                    label="Шрифт"
                                    outlined
                                    dense
                                    hide-details
                                />
                            </v-col>
                            <v-col
                                cols="12"
                                md="4"
                            >
                                <v-text-field
                                    v-model="current.params.label.color"
                                    label="Цвет"
                                    outlined
                                    dense
                                    hide-details
                                    readonly
                                >
                                    <template v-slot:append>
                                        <v-menu v-model="menu" top nudge-bottom="105" nudge-left="16" :close-on-content-click="false">
                                            <template v-slot:activator="{ on }">
                                                <div :style="swatchStyle" v-on="on" />
                                            </template>
                                            <v-card>
                                                <v-card-text class="pa-0">
                                                    <v-color-picker v-model="current.params.label.color" flat />
                                                </v-card-text>
                                            </v-card>
                                        </v-menu>
                                    </template>
                                </v-text-field>
                            </v-col>
                        </v-row>
                    </v-card-text>
                </app-card-actions>
            </perfect-scrollbar>
        </v-navigation-drawer>
    </div>
</template>
<script>
import { computed, ref } from '@vue/composition-api'

import { PerfectScrollbar } from 'vue2-perfect-scrollbar'
import {mapState} from "vuex";
import {mapFields} from "vuex-map-fields";
import { mdiClose } from '@mdi/js'
import {find} from "lodash";
import AppCardActions from '@core/components/app-card-actions/AppCardActions.vue'


export default {
    name: "ElementCustomize",

    components: {
        PerfectScrollbar,
        AppCardActions
    },

    data () {
        return {
            perfectScrollbarOptions: {
                maxScrollbarLength: 60,
                wheelPropagation: false,
            },
            mask: '!#XXXXXXXX',
            mdiClose: mdiClose,
            menu: false,
            menuFill: false,
            fonts: [
                'Arial',
                'Times New Roman'
            ]
        }
    },

    watch: {
        'current.params.size.w' (value) {
            if (value <= 0) {
                return;
            }

            const element = find(this.elements, (item) => {
                return item.id === this.current.id;
            })

            element.element.resize(value, this.current.params.size.h)
        },
        'current.params.size.h' (value) {
            if (value <= 0) {
                return;
            }

            const element = find(this.elements, (item) => {
                return item.id === this.current.id;
            })

            element.element.resize(this.current.params.size.w, value)
        },
        'current.params.position.x' (value) {
            if (value <= 0) {
                return;
            }

            const element = find(this.elements, (item) => {
                return item.id === this.current.id;
            })

            element.element.position(value, this.current.params.position.y);
        },
        'current.params.position.y' (value) {
            if (value <= 0) {
                return;
            }

            const element = find(this.elements, (item) => {
                return item.id === this.current.id;
            })

            element.element.position(this.current.params.position.x, value);
        },
        'current.params.fill' (value) {
            const element = find(this.elements, (item) => {
                return item.id === this.current.id;
            })

            element.element.attr(this.current.attr.fill, value);
        },
        'current.params.position.rotate' (value) {
            if (value <= 0) {
                return;
            }

            const element = find(this.elements, (item) => {
                return item.id === this.current.id;
            })

            element.element.rotate(value, {absolute: true });
        },
        'current.params.label.title' (value) {
            const element = find(this.elements, (item) => {
                return item.id === this.current.id;
            })

            element.element.attr(this.current.attr.text.text, value);
        },
        'current.params.label.size' (value) {
            const element = find(this.elements, (item) => {
                return item.id === this.current.id;
            })

            console.log(value)
            element.element.attr(this.current.attr.text['font-size'], value);
        },
        'current.params.label.type' (value) {
            const element = find(this.elements, (item) => {
                return item.id === this.current.id;
            })

            element.element.attr(this.current.attr.text['font-family'], value);
        },
        'current.params.label.color' (value) {
            const element = find(this.elements, (item) => {
                return item.id === this.current.id;
            })

            console.log(value)
            element.element.attr(this.current.attr.text.fill, value);
        }
    },

    computed: {
        ...mapFields('elements', ['isCustomizerOpen', 'current', 'elements', 'graph']),
        ...mapState('elements', ['paper']),

        swatchStyle() {
            return {
                backgroundColor: this.current.params.label.color,
                cursor: 'pointer',
                height: '30px',
                width: '30px',
                borderRadius: this.menu ? '50%' : '4px',
                transition: 'border-radius 200ms ease-in-out'
            }
        },
        swatchStyleFill() {
            return {
                backgroundColor: this.current.params.fill,
                cursor: 'pointer',
                height: '30px',
                width: '30px',
                borderRadius: this.menuFill ? '50%' : '4px',
                transition: 'border-radius 200ms ease-in-out'
            }
        }
    },
}
</script>

<style lang="scss">
@import '@resources/sass/preset/variables.scss';

.app-customizer-drawer {
    top: 64px !important;
}
.ps-customizer {
    height: calc(100% - 81px) !important;
}

.app-customizer-toggler {
    position: fixed !important;
    top: 50%;
    transform: translateX(-50%);
    background: var(--v-primary-base);
    @include ltr() {
        right: -22px;
    }
    @include rtl() {
        left: 20px;
    }
}

@include theme(app-customizer-drawer) using ($material) {
    background-color: map-deep-get($material, 'cards');
}

.app-customizer {
    z-index: 7;

    .v-label {
        font-size: 0.875rem;
    }

    .app-customizer-header {
        position: relative;
        .icon-customizer-close {
            position: absolute;
            @include ltr() {
                right: 20px;
            }
            @include rtl() {
                left: 20px;
            }
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .customizer-section {
        padding: 24px;
    }

    // Fixes Overlay is shown below SystemBar
    @at-root {
        .v-overlay {
            & + .v-application--wrap > .v-system-bar {
                z-index: 6 !important;
            }
        }
    }
}
</style>

